.member {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding-bottom: 5%;
    padding-right: 4%;

}

.member img {
    width: 25%;
    position: relative;
    min-width: 0;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.60rem;
    float: left;
    padding: 5px;
}

.member h2 {
    color: #3498b9;
    text-align: center;
    float: center
}

.member p {
    text-align: justify;
    color: #3498b9;
    padding: 20px;
    padding-top: 5px;
}