.background {
    background: no-repeat center;
    background-size: cover;
}

.background h4 {
    color: snow;
    text-align: center;
    font-size: 20px;
    font-style: oblique;
    padding-bottom: 4%;
}