.aside {
    display: inline-block;
    width: 23%;
    padding-left: 25px;
    margin-left: 25px;
    font-style: italic;
    background-color: lightgreen;
    margin-right: 1%;
    text-align: left;
    padding-bottom: 2%;
    margin-bottom: 5%;
    align-items: center;
    vertical-align: top;
    border-radius: 8%;

}

.typeUser :not(strong) {
    color: orange;
    font-weight: bold;
}

.image {
    background-color: lightgreen;
    background-blend-mode: multiply;
}

.image img {
    width: 100%;
    background-color: blue;
    background-blend-mode: multiply;
}

.aside p {
    font-size: 14px;
    padding-right: 30px;
    text-align: justify;
}