.button {
    background: #3498b9;
    color: snow;
    padding: 1%;
    width: 13%;
    border-radius: 15px;
    border: none;
    border: 1px solid white;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
}

.button:hover {
    background-color: #fff;
    border: 1px solid #3498b9;
    color: #3498b9;

}