.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.background h3 {
    color: snow;
    text-align: center;
    padding-bottom: 10%;
    font-size: 20px;
    font-style: oblique;
}

.container {
    background-color: white;
    display: inline-block;

}


.aside {
    display: inline-block;
    width: 30%;
    padding-left: 25px;
    margin-left: 25px;
    font-style: italic;
    background-color: lightgray;
    margin-right: 1%;
    text-align: left;
    padding-bottom: 2%;
    margin-bottom: 5%;
    align-items: center;
    vertical-align: top;

}

.content {
    float: right;
    text-align: justify;
    padding-right: 10%;
    width: 50%;
    padding-top: 0%;
    /* padding-left: 35%; */
}


.button {
    color: black;
    background-color: lightgreen;
    width: 150px;
    height: 70px;
    border-radius: 15px;
    border: 1px solid white;
    margin: 10px;
    cursor: pointer;
    font-size: 17px;
}

.button:hover {
    background-color: #fff;
    border: 1px solid lightgreen;
    color: green;

}

.infoButton {
    margin-top: 25px;
    text-align: center;
}

.galery {
    display: inline-block;
    padding-top: 2%;
    padding-left: 1%;
}

.galery h3 {
    color: #3498b9;
    text-align: left;
    padding-left: 7%;
}