.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.background h3 {
    color: snow;
    text-align: center;
    padding-bottom: 10%;
    font-size: 20px;
    font-style: oblique;
}

.container {
    background-color: white;
    display: inline-block;

}




.content {
    float: right;
    text-align: justify;
    padding-right: 10%;
    width: 50%;
    padding-top: 0%;
    /* padding-left: 35%; */
}




.galery {
    display: inline-block;
    padding-top: 2%;
    padding-left: 1%;
}

.galery h3 {
    color: #3498b9;
    text-align: left;
    padding-left: 7%;
}